body {
    height: 90vh;
    width: 100%;
    background-image: url("https://media.timeout.com/images/101901063/image.jpg");
    background-size: cover;
    background-position: center;
}


.header{
    display: flex;
    flex-direction: row;
    background-color: black;
    width: 100%;
    height: 10vh;
}

.titulo1{
    font-size: 21px;
     color: #E85C70;
    margin-left: 3%;
}

.botoes{
    margin-top: 2%;
    margin-left: 65%;
}
.botoes button{
    margin-right: 20px;
    background: #E85C70;;
    border: none;
    cursor: pointer;
    border-radius: 25px;
}

.botoes span{
      font-weight: bold;
    color: black;
    font-size: 35px;
}


.containerPri{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cadastro{
    background-color: black;
    width: 55%;
    height: 70%;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://media.timeout.com/images/101901063/image.jpg");
    background-size: 53% 100%;
    background-repeat: no-repeat;
}

.cadastro span{
    margin-left: 25%;
    color: #e6dcdc;
    font-size: larger;
    font-family: "Montserrat", sans-serif;
}

.cadastro input{
    margin-left: 45%;
    width: 35%;
    border: 3px solid #e6dcdc;
    border-radius: 12px;

}


.cadastro button{
    margin-left: 45%;
    border-radius: 12px;
    height: 30px;
    width: 12%;
    color: #e6dcdc;
    border: none;
    cursor: pointer;
    
}

.cadastro h2{
    color: black;
    font-size: larger;
    font-family: "Montserrat", sans-serif;
    margin-top: 2.5%;
}

