body {
    height: 90vh;
    width: 100%;
    background-image: url("https://m.media-amazon.com/images/I/81H05-cnPVL.jpg");
    background-size: cover;
    background-position: center;
}

.header{
    display: flex;
    flex-direction: row;
    background-color: black;
    width: 100%;
    height: 10vh;
}

.titulo1{
    font-size: 21px;
     color: #E85C70;
    margin-left: 3%;
}

.botoes{
    margin-top: 2%;
    margin-left: 70%;
}
.botoes button{
    margin-right: 20px;
    background: #E85C70;;
    border: none;
    cursor: pointer;
    border-radius: 25px;
}

.botoes span{
      font-weight: bold;
    color: black;
    font-size: 35px;
}

.containerPri{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    margin-left: 20%;
    margin-top: 5%;
    background-color: black;
    width: 55%;
    height: 70%;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://m.media-amazon.com/images/I/81H05-cnPVL.jpg");
    background-size: 53% 100%;
    background-repeat: no-repeat;
}

.login span{
    margin-left: 25%;
    color: #e6dcdc;
    font-size: larger;
    font-family: "Montserrat", sans-serif;
}

.login input{
    margin-left: 45%;
    width: 35%;
    border: 3px solid #e6dcdc;
    border-radius: 12px;

}


.login button{
    margin-left: 45%;
    border-radius: 12px;
    height: 30px;
    width: 12%;
    color: #e6dcdc;
    border: none;
    cursor: pointer;
    
}

.login h2{
    color: black;
    font-size: larger;
    font-family: "Montserrat", sans-serif;
    margin-top: 2.5%;
}

.msgm{
    margin-left: 37%;

}

.msgm button{
    margin-left: 45%;
    background: none;
    width: 100%;
}

.msgm h2{
    display: flex;
    flex-direction: row;
    color: aliceblue;
    font-size: larger;
    font-family: "Montserrat", sans-serif;
}

.footer {
  margin-top: 3.6%;
  background: rgba(20, 20, 20, 0.85);
  backdrop-filter: blur(6px);
  color: #EDEDED;
  text-align: center;
  padding: 30px 20px;
  border-top: 3px solid #E85C70;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0 -10px 20px rgba(255, 255, 255, 0.05);
}

.footer-content p {
  margin: 5px 0;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.footer strong {
  color: #E85C70;
}

